<h1>Meetups</h1>
<ul>
  <% @meetups.each do |meetup| %>
    <li>
      <a href='/meetups/<%= meetup.id %>'><%= meetup.title %></a>
    </li>

  <% end %>
</ul>

<a href='/meetups/new'>Create a new Meetup!</a>
